.fakeimg {
    height: 200px;
    background: #aaa;
}

body {
    /* gray */
    background-color: rgb(43, 42, 51);
}

.header {
    margin-bottom: 0;
    background-image: url(../../../../Img/beautiful-milky-way-night-sky.jpg);
    border-radius: 0;
    background-size: cover;
}
.header .nav-link {
    color: white;
    font-weight: bold;
}
.header .nav-link:hover {
    color: grey;
}
.navbar {
    box-shadow: 5px 0px 10px black;
}

h1 {
    color: white;
    width: fit-content;
}   

h3 {
    width: fit-content;
}

p {
    color: white;
    width: fit-content;
}

ol {
    color: white;
    width: fit-content;
}

.banner-container {
    background-image: url(../../../../Img/Finite_Abys.png);
    aspect-ratio: 19.2 / 6;
    width: 100%;
    background-size: contain;
}

footer {
    color: white;
}
